name: Test

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  unit:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.20"

      - run: make test

  acceptance:
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, windows-latest, macos-latest]

    permissions:
      id-token: write # Required by hetznercloud/tps-action

    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.20"

      - uses: hetznercloud/tps-action@main

      - run: make testacc

  example:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: example

    env:
      PACKER_LOG: "1"

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-packer@v2.0.1
        with:
          version: "1.10.0"

      - run: packer init
      - run: packer validate
      - run: packer build
